.aside {
  background-image: url("../../../assets/img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.aside ul {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, rgba(18,0,94,.8), rgba(74,20,140,.9));
  color: rgba(255,255,255,1);
  font-size: 18px;
}
.aside ul li {
  padding: 10px 20px;
  cursor: pointer;
  transition: all 200ms;
}
.aside ul li:hover {
  background-color: rgba(255,255,255,.1);
}
.aside ul .active {
  background-color: rgba(255,255,255,.2);
  color: rgba(255,255,150,1);
}
.aside ul .active:hover {
  background-color: rgba(255,255,255,.2);
  color: rgba(255,255,150,1);
}
