<div class="aside">
  <ul>
    <li [ngClass]="link == 'home' ? 'active' : ''" (click)="go(['../', 'home'])">Home</li>
    <li [ngClass]="link == 'realtors' ? 'active' : ''" (click)="go(['../', 'realtors'])">Realtors</li>
  </ul>
</div>
