@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
  height: 100%;
  overflow: hidden;
}
.header {
  height: 50px;
  background-color: aquamarine;
}
.aside {
  height: calc(100% - 50px);
  width: 250px;
  float: left;
  background-color: blueviolet;
}
.content {
  height: calc(100% - 50px);
  width: calc(100% - 250px);
  float: right;
  background-color: antiquewhite;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
